@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
* {
    font-family: "Reem Kufi", serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}



.home {
    width: 100%;
    min-height: 440px;
    background: linear-gradient(to top,rgba(0,0,0,0.2)50%,rgba(0,0,0,0.2)50%);
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/736x/cb/ea/65/cbea6584a679535392d43327a20f3e0a.jpg');
    background-size: cover; 
    background-position: center;
    }
    .home-text {
        color: #f6ecec;
        text-align: center;
        padding-top: 115px;
       
        }
        .home-title {
        font-size: 3.5rem;
        padding-left: 5px;
        font-weight: 700;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin-top: -60px;
        }
        .home-subtitle {
            font-size: 1rem;
            font-weight: 300;
          
            margin-top: 8px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            }

