*{
    margin: 0;
    padding: 0;
}
.main{
    width: 1540px; 
    height: 80px;
background: linear-gradient(to top,rgba(0,0,0,0.2)50%,rgba(0,0,0,0.2)50%), url(fdd.png);

background-position: center;
background-size: cover;
font-family: sans-serif;
}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;

}
.logo{
    color:#fbff03;
    
    font-size: 40px;
    font-family: cursive;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{

    width: 900px;
    float:right;
    align-items: center;
    justify-content: flex-end; 
    direction: rtl;
    
}
ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;

}
ul li{
    list-style:none;
    margin-left: 49px;
    
    font-size: 20px;
    background-color:#fbff03;
    box-shadow: 0px 5px 6px rgb(237, 246, 249);
    border: 1px solid #fbff03;

}
ul li a{
    text-decoration: none;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}
ul li a:hover{
color:rgb(235, 58, 117);

}
body {
    font-family: Arial, sans-serif;
    text-align: right;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.hotel {
    display: flex;
    align-items: center;
    background-color: #b5a04d;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    justify-content: flex-end;
}

.hotel img {
    margin-left: 20px;
    border-radius: 10px;
    width: 150px;
    height: auto;
}

.hotel div {
    flex: 1;
}
